<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speed Camera Readings</title>
    <style>
        table {
            width: 80%;
            border: 1px black solid;
        }

        td {
            border: 1px black solid;
        }
    </style>
</head>
<body>
<a href="{{ url_for('graph') }}">Graph</a>
</br>
    <table>
        <tr>
            <th>Camera</th>
            <th>Date & Time</th>
            <th>Speed in Km/h</th>
        </tr>
        {% for reading in readings %}
            <tr>
                <td>
                    {{ reading['Camera'] }}
                </td>
                <td>
                    {{ reading['datetime'] }}
                </td>
                <td>
                    {{ reading['Speed'] }}
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>